<div class="box">
      <h2>List Item hover Effect</h2>
      <ul>
        <li><span>1</span>List Item One</li>
        <li><span>2</span>List Item two</li>
        <li><span>3</span>List Item three</li>
        <li><span>4</span>List Item four</li>
        <li><span>5</span>List Item five</li>
        <li><span>6</span>List Item six</li>
      </ul>
</div>